# 处理缺失数据

In [1]:
import pandas as pd
import numpy as np

In [2]:
string_data=pd.Series(['aardvark','artchoke',np.nan,'avocado'])
string_data

0    aardvark
1    artchoke
2         NaN
3     avocado
dtype: object

In [3]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
string_data[0]=None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [5]:
string_data.dropna()

1    artchoke
3     avocado
dtype: object

## 滤除缺失数据

In [6]:
# dropna()

In [7]:
from numpy import nan as NA
data=pd.Series([1,NA,3.5,NA,7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [8]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [9]:
data=pd.DataFrame([[1., 6.5, 3.],[1.,NA,NA],
                 [NA, NA, NA],[NA,6.5,3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [10]:
cleaned=data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

In [11]:
data.dropna(how='all')
# 传入how='all'，将只丢弃全为NA的那些行

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [12]:
data[4]=NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [13]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [14]:
df=pd.DataFrame(np.random.randn(7,3),index=[list('abcdefg')],columns=[list('hij')])

In [15]:
df.iloc[:4,1]=NA
df.iloc[:2,2]=NA
df

# iloc 
# loc

          h         i         j
a  0.829852       NaN       NaN
b -0.100198       NaN       NaN
c  0.560118       NaN -2.049590
d -0.642580       NaN  0.728735
e -1.028843  0.859198 -0.577881
f  0.203281 -1.023908  0.416163
g  0.864301  0.639431 -0.906896

In [16]:
df.loc["a","h"]

          h
a  0.829852

In [17]:
df.iloc[1:,1]

b         NaN
c         NaN
d         NaN
e    0.859198
f   -1.023908
g    0.639431
Name: (i,), dtype: float64

In [18]:
df.dropna()

          h         i         j
e -1.028843  0.859198 -0.577881
f  0.203281 -1.023908  0.416163
g  0.864301  0.639431 -0.906896

In [19]:
df.dropna(thresh=2)
# thresh 保留至少两个非NA的行

          h         i         j
c  0.560118       NaN -2.049590
d -0.642580       NaN  0.728735
e -1.028843  0.859198 -0.577881
f  0.203281 -1.023908  0.416163
g  0.864301  0.639431 -0.906896

In [20]:
df[3]=1
df.iloc[1,1]=1
df

          h         i         j  3
a  0.829852       NaN       NaN  1
b -0.100198  1.000000       NaN  1
c  0.560118       NaN -2.049590  1
d -0.642580       NaN  0.728735  1
e -1.028843  0.859198 -0.577881  1
f  0.203281 -1.023908  0.416163  1
g  0.864301  0.639431 -0.906896  1

In [21]:
df.dropna(thresh=4)

          h         i         j  3
e -1.028843  0.859198 -0.577881  1
f  0.203281 -1.023908  0.416163  1
g  0.864301  0.639431 -0.906896  1

## 填充缺失数据

In [22]:
# fillna()
# fillna(method='ffill')

In [23]:
df.fillna(0)

          h         i         j  3
a  0.829852  0.000000  0.000000  1
b -0.100198  1.000000  0.000000  1
c  0.560118  0.000000 -2.049590  1
d -0.642580  0.000000  0.728735  1
e -1.028843  0.859198 -0.577881  1
f  0.203281 -1.023908  0.416163  1
g  0.864301  0.639431 -0.906896  1

In [24]:
df.fillna({'i':0.5,'j':0.})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

          h         i         j  3
a  0.829852       NaN       NaN  1
b -0.100198  1.000000       NaN  1
c  0.560118       NaN -2.049590  1
d -0.642580       NaN  0.728735  1
e -1.028843  0.859198 -0.577881  1
f  0.203281 -1.023908  0.416163  1
g  0.864301  0.639431 -0.906896  1

In [25]:
_=df.fillna(0,inplace=True)
# 修改调用者对象而不产生副本
df

          h         i         j  3
a  0.829852  0.000000  0.000000  1
b -0.100198  1.000000  0.000000  1
c  0.560118  0.000000 -2.049590  1
d -0.642580  0.000000  0.728735  1
e -1.028843  0.859198 -0.577881  1
f  0.203281 -1.023908  0.416163  1
g  0.864301  0.639431 -0.906896  1

In [26]:
df=pd.DataFrame(np.random.randn(6,3))
df.iloc[2:,1]=NA
df.iloc[4:,2]=NA
df

          0         1         2
0 -1.324706 -0.526208  0.782117
1 -2.496908  0.906364 -0.260218
2 -0.103750       NaN -1.421557
3  1.165334       NaN -1.055091
4 -1.144752       NaN       NaN
5 -0.326425       NaN       NaN

In [27]:
df.fillna(method='ffill')

          0         1         2
0 -1.324706 -0.526208  0.782117
1 -2.496908  0.906364 -0.260218
2 -0.103750  0.906364 -1.421557
3  1.165334  0.906364 -1.055091
4 -1.144752  0.906364 -1.055091
5 -0.326425  0.906364 -1.055091

In [28]:
df.fillna(method='ffill',limit=2)

          0         1         2
0 -1.324706 -0.526208  0.782117
1 -2.496908  0.906364 -0.260218
2 -0.103750  0.906364 -1.421557
3  1.165334  0.906364 -1.055091
4 -1.144752       NaN -1.055091
5 -0.326425       NaN -1.055091

In [29]:
data=pd.Series([1.,NA, 3.5,NA,7.])

In [30]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

# 数据转换

## 移除重复数据

In [31]:
data=pd.DataFrame({'k1':['one','two']*3+['two'],
                  'k2':[1,1,2,3,3,4,4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [32]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [33]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [34]:
data['v1']=range(7)
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [35]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [36]:
data.drop_duplicates(['k1','k2'],keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

## 利用函数或映射进行数据转换

In [37]:
# arr.map()

In [38]:
data=pd.DataFrame({'food':['bacon','pulled pork','Bacon',
                          'Pastrami','corned beef','Bacon',
                           'pastrami',
                          'honey ham','novalox'],
                   'ounces':[4.,3.,12.,6.,7.5,8., 3., 5.,6.]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        Bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8      novalox     6.0

In [39]:
meat_to_animal={
    'bacon':'pig',
    'pulled pork':'pig',
    'pastrami':'cow',
    'corned beef':'cow',
    'honey ham':'pig',
    'novalox':'salmon'
}
meat_to_animal

{'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'novalox': 'salmon'}

In [40]:
lowercased=data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8        novalox
Name: food, dtype: object

In [41]:
data['animal']=lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        Bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8      novalox     6.0  salmon

In [42]:
data['food'].map(lambda x:meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [43]:
# lambda x: 返回值

## 替换值

In [44]:
# data.replace(x,y)
# 将x 替换为 y 
# 其中 x, y 可以用字典或者列表的形式展现

In [45]:
data=pd.Series([1., -999.,2., -999.,-1000.,3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [46]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [47]:
data.replace([-999,-1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [48]:
data.replace([-999,-1000],[np.nan,0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [49]:
data.replace({-999:np.nan,-1000:0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

## 重命名轴索引

In [50]:
#data.rename(index={})

In [51]:
data=pd.DataFrame(np.arange(12).reshape((3,4)),
                 index=['ohio','colorado','new york'],
                 columns=[list('abcd')])
data

          a  b   c   d
ohio      0  1   2   3
colorado  4  5   6   7
new york  8  9  10  11

In [52]:
transform=lambda x:x[:4].upper()
transform

In [53]:
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [54]:
# 通过映射进行转换 从而得到一个新的不同标签的对象。
# 轴还可以被就地修改，而无需新建一个数据结构

In [55]:
data.index=data.index.map(transform)
data

      a  b   c   d
OHIO  0  1   2   3
COLO  4  5   6   7
NEW   8  9  10  11

In [56]:
data.rename(index=str.title,columns=str.upper)

      A  B   C   D
Ohio  0  1   2   3
Colo  4  5   6   7
New   8  9  10  11

In [57]:
data.rename(index={'OHIO':"indiana"},
           columns={'c':"peekboo"})

         a  b peekboo   d
indiana  0  1       2   3
COLO     4  5       6   7
NEW      8  9      10  11

In [58]:
data.rename(index={'OHIO':'indiana'},inplace=True)
data

         a  b   c   d
indiana  0  1   2   3
COLO     4  5   6   7
NEW      8  9  10  11

## 离散化和面元划分

In [59]:
# pd.cut(data,bins)
# pd.qcut(data, quartiles)

为了便于分析，连续数据常常被离散化或拆分为“面元”（bin）

In [60]:
ages=[20, 22, 25, 27, 21, 23, 37, 31,61, 45, 41, 32]
bins=[18,25,35,60,100]
cats=pd.cut(ages,bins)
cats
#右侧为闭区间

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

pandas返回的是一个特殊的categorical对象。
结果展示了pandas.cut()的面元。

In [61]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [62]:
cats.categories
# categories 类别，科目

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [63]:
pd.value_counts(cats)
# pd.value_counts()结果的面元计数

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [64]:
pd.cut(ages,bins,right=False)
# 右侧为开区间

[[18, 25), [18, 25), [25, 35), [25, 35), [18, 25), ..., [25, 35), [60, 100), [35, 60), [35, 60), [25, 35)]
Length: 12
Categories (4, interval[int64]): [[18, 25) < [25, 35) < [35, 60) < [60, 100)]

In [65]:
group_names=["youth","youngadult",'middleage',
             'senior']
pd.cut(ages,bins,labels=group_names)

[youth, youth, youth, youngadult, youth, ..., youngadult, senior, middleage, middleage, youngadult]
Length: 12
Categories (4, object): [youth < youngadult < middleage < senior]

In [66]:
data=np.random.rand(20)
pd.cut(data,4,precision=2)
# precision=2 限定小数只有两位（精确度为2）

[(0.017, 0.23], (0.44, 0.65], (0.017, 0.23], (0.23, 0.44], (0.017, 0.23], ..., (0.017, 0.23], (0.44, 0.65], (0.44, 0.65], (0.44, 0.65], (0.65, 0.86]]
Length: 20
Categories (4, interval[float64]): [(0.017, 0.23] < (0.23, 0.44] < (0.44, 0.65] < (0.65, 0.86]]

In [67]:
data=np.random.randn(1000)# 正态分布
cats=pd.qcut(data,4)# 分位数
cats

[(-0.646, -0.0143], (-2.895, -0.646], (-0.0143, 0.541], (0.541, 3.968], (-0.0143, 0.541], ..., (0.541, 3.968], (-2.895, -0.646], (-2.895, -0.646], (-0.0143, 0.541], (-0.646, -0.0143]]
Length: 1000
Categories (4, interval[float64]): [(-2.895, -0.646] < (-0.646, -0.0143] < (-0.0143, 0.541] < (0.541, 3.968]]

In [68]:
pd.value_counts(cats)

(0.541, 3.968]       250
(-0.0143, 0.541]     250
(-0.646, -0.0143]    250
(-2.895, -0.646]     250
dtype: int64

In [69]:
cats=pd.qcut(data,[0,0.1,.5,.9,1.])

In [70]:
pd.value_counts(cats)

(-0.0143, 1.164]     400
(-1.234, -0.0143]    400
(1.164, 3.968]       100
(-2.895, -1.234]     100
dtype: int64

# 检测和过滤异常值

过滤或变换异常值（outlier）在很大程度上就是运用数组运算。
来看一个含有正态分布数据的DataFrame

In [71]:
data=pd.DataFrame(np.random.randn(1000,4))
data

            0         1         2         3
0    0.681340 -0.637172  0.620775  0.113851
1    0.428896  0.231364 -0.477466  0.825668
2    0.429942 -1.157169 -0.799174  1.263758
3    0.239959  0.781593 -0.858702 -0.352398
4    0.622746  0.787798 -0.388836  0.638245
5    0.064090  1.376167 -0.025535 -1.306529
6   -0.550004 -0.053668 -0.908044  1.890283
7   -0.888698 -1.049277  1.113246 -0.731831
8   -2.245003 -0.876692  0.259555 -2.426731
9    1.605288  0.104602 -2.193732 -0.868720
10  -0.285885 -0.382311  1.308579  1.447786
11   0.785776 -0.885769  0.512308  0.665672
12   0.582832  0.629320 -0.236137 -0.800571
13  -1.756860  0.105929 -0.892472  1.169943
14   0.385124 -0.895608 -1.010484  0.860047
15  -0.139623  0.316162  0.592604  0.249860
16  -0.491243 -1.113165 -0.788987  0.341673
17   2.679606  0.512148  0.285344 -0.743043
18  -3.415997  0.746219  1.048420 -0.074007
19  -0.501971  0.643605  0.370959 -0.041827
20   0.343932  0.950252 -0.399815 -0.543061
21  -0.172805  0.621018  1.639197 -0.416968
22   0.027036 -0.510372  0.037760 -2.837043
23  -0.181786  0.730476  0.644889  0.242067
24   0.135882  0.379014 -0.525602 -0.406681
25  -1.674004 -0.208336  0.943427  0.856263
26  -0.649556  0.457951  0.025553  0.155118
27  -1.286311  1.896074 -1.414930 -0.758136
28  -0.451559 -2.639084  0.273270  0.556662
29  -1.319155 -1.535375  0.547968  0.660218
..        ...       ...       ...       ...
970 -0.110182 -0.886569 -0.795647  0.121161
971  0.131073 -0.761689 -2.041932  0.299891
972 -0.368581 -1.851005 -1.582625 -0.115991
973 -1.097320  0.365940  1.129901  0.402330
974 -0.606029  1.233356  0.963439 -1.033742
975  0.038225  0.737683 -0.378482  0.056582
976  0.246641 -1.525668 -0.666439  0.230044
977  0.972791 -0.358412  0.274783  0.093473
978  1.201599 -0.160757  1.651796 -0.198634
979  1.152073 -0.416692  0.558836 -0.060078
980 -0.290033  0.720723  1.247679 -0.612859
981  1.016330 -0.230703  0.137847  0.289663
982  0.648308  1.507773 -0.808995 -1.367071
983  0.867035 -0.657158  1.669442 -1.722276
984  0.762075 -0.214779 -0.062436  2.265401
985 -1.774354 -0.884385  0.975268  0.350710
986 -0.833954 -0.181707 -1.466650  0.094272
987 -1.497987  0.584675 -0.167307  0.429592
988  1.333607 -0.263712 -2.274200  1.828257
989 -0.124195  0.871546 -1.413483 -0.093036
990  1.248198  0.228611  0.004357 -1.016774
991  0.329956 -0.993515  0.280775 -0.981033
992 -1.259904 -0.896534  0.626504  0.498576
993 -0.842326  1.173915  0.002727  1.566733
994 -0.399162  0.475334 -0.486900 -0.188280
995 -0.980290  0.025414 -1.410655  1.070444
996 -1.186796  0.441130 -0.102841  0.223748
997  0.211024 -0.062303  0.344943  0.760783
998 -0.478025  0.225079 -0.760273  1.147806
999 -0.939098  0.978245 -1.565608  0.091572

[1000 rows x 4 columns]

In [72]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.004090     0.007043    -0.020944    -0.008491
std       1.020689     1.008861     1.012244     1.001381
min      -3.415997    -3.460368    -2.798139    -2.882895
25%      -0.707043    -0.699018    -0.753252    -0.688369
50%      -0.008803     0.018974    -0.007597    -0.003620
75%       0.708241     0.696264     0.638805     0.666201
max       3.444230     3.077272     3.300750     2.713961

In [73]:
col=data[2]
col[np.abs(col)>3]

891    3.300750
935    3.008452
Name: 2, dtype: float64

In [74]:
data[(np.abs(data)>3).any(1)]
# any(1) 有一个不为空，则为True

            0         1         2         3
18  -3.415997  0.746219  1.048420 -0.074007
278  0.317113 -3.032863 -0.075809  1.602737
711 -0.363478  3.077272 -0.446563  0.205445
777  3.444230  0.868457  0.762798  0.168916
793 -0.873219 -3.460368  1.486564  0.364198
891 -0.245814 -1.890240  3.300750  1.363886
935 -0.223702 -0.193574  3.008452 -1.855980

In [75]:
data[np.abs(data)>3]=np.sign(data)*3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.004061     0.007459    -0.021253    -0.008491
std       1.017973     1.007050     1.011275     1.001381
min      -3.000000    -3.000000    -2.798139    -2.882895
25%      -0.707043    -0.699018    -0.753252    -0.688369
50%      -0.008803     0.018974    -0.007597    -0.003620
75%       0.708241     0.696264     0.638805     0.666201
max       3.000000     3.000000     3.000000     2.713961

In [76]:
np.sign(data).head()
# head() 前五个

     0    1    2    3
0  1.0 -1.0  1.0  1.0
1  1.0  1.0 -1.0  1.0
2  1.0 -1.0 -1.0  1.0
3  1.0  1.0 -1.0 -1.0
4  1.0  1.0 -1.0  1.0

## 排列和随机采样

numpy.random.permutation可以实现对于series和df列的排序工作

permuting 随机重排序

用替换的方式选取随机子集

In [77]:
df=pd.DataFrame(np.arange(5*4).reshape((5,4)))
sampler=np.random.permutation(5)
sampler

array([0, 3, 4, 1, 2])

In [78]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [79]:
df.take(sampler)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
4  16  17  18  19
1   4   5   6   7
2   8   9  10  11

In [80]:
df.sample(n=5)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
4  16  17  18  19
2   8   9  10  11
3  12  13  14  15

In [81]:
choices= pd.Series([5, 7, -1, 6, 4])
draws=choices.sample(n=10,replace=True)
draws
# 通过replace=True 重复选择

0    5
1    7
2   -1
1    7
3    6
2   -1
2   -1
2   -1
0    5
0    5
dtype: int64

## 计算指标/哑变量

另一种常用于统计建模或机器学习的转换方式是：将分类变量（categorical variable）转化为“哑变量”/“指标矩阵”

In [82]:
df=pd.DataFrame({'key':['b','b','a','c','a','b'],
                 'data1':range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [83]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [84]:
dummies= pd.get_dummies(df['key'],prefix='key')

#prefix='' 在前面加上
df_with_dummy=df[['data1']].join(dummies)
df_with_dummy

# 使得虚拟变量能够与其他变量进行合并

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [85]:
# 列出所有的电影类型，并用“哑变量”来描述

In [86]:
path='G:\work\pydata-book-2nd-edition\datasets\movielens'

In [87]:
mnames=['movie_id','title','genres']
movies=pd.read_table(path+'\movies.dat',
                    sep='::',
                    header=None, names=mnames)
movies[:10]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: read_table is deprecated, use read_csv instead.
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [88]:
all_genres=[]
for x in movies.genres:
    all_genres.extend(x.split("|"))
genres=pd.unique(all_genres)
genres
#  找出所有电影种类

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [89]:
zero_matrix=np.zeros((len(movies),len(genres)))
# 设置一个0矩阵（电影*种类）

In [90]:
dummies=pd.DataFrame(zero_matrix,columns=genres)
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
gen=movies.genres[0]
gen.split('|')

['Animation', "Children's", 'Comedy']

In [92]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

In [95]:
for i,gen in enumerate(movies.genres):
    indices=dummies.columns.get_indexer(gen.split('|'))
    # 返回索引
    dummies.iloc[i, indices]=1
    # 根据行列定位，满足条件赋值为1
movies_windic=movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

In [96]:
np.random.seed(12345)
values=np.random.rand(10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [98]:
bins=[0.,0.2,0.4,.6,.8,1.]
pd.get_dummies(pd.cut(values,bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

enumerate() 用于将一个可遍历的数据对象（如列表、元组或字符串）组合为一个索引序列，同时列出数据和数据下标，一般用在for循环中

In [ ]:
# 补充 第五章 pandas 汇总和计算描述统计

In [ ]:
# Series

In [ ]:
# DataFrame

In [ ]:
# df.sum() 返回一个含有列的和的series
# df.sum(axis=1) 返回一个含有行的和的series

In [ ]:
df=pd.DataFrame([[1.4, np.nan],[7.1,-4.5],
               [np.nan,np.nan],[0.75,-1.3]],
               index=[list('abcd')],
               columns=['one','two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
df.mean(axis=1,skipna=False)

In [ ]:
# 间接统计

In [ ]:
df.idxmax()
# 返回最大值的索引

In [ ]:
df.idxmin(axis=1)

In [ ]:
# 累计型

In [ ]:
df

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
# 对于非数值型数据，describe会产生另外一种汇总统计

In [ ]:
obj=pd.Series(['a','a','b','c']*4)
obj.describe()

In [ ]:
# 相关系数和协方差

In [ ]:
# 唯一值、值计数以及成员资格

# 字符串操作

## 字符串对象方法

In [99]:
val='a,b,guido'
val.split(',')

['a', 'b', 'guido']

In [102]:
pieces=[x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [103]:
first,second,third=pieces
first+'::'+second+'::'+third

'a::b::guido'

In [104]:
'::'.join(pieces)

'a::b::guido'

In [105]:
'guido'in val

True

In [107]:
val.index(',')

1

In [108]:
val.find(':')

-1

In [109]:
# index()如果找不到，返回异常 而find()找不到，返回-1

In [110]:
val.count(',')

2

In [111]:
val.replace(',','::')

'a::b::guido'

In [112]:
val.replace(',','')

'abguido'

In [113]:
# 字符串方法

In [114]:
#count()

In [115]:
#endswith() startswith()

In [116]:
#join()

In [117]:
#index()

In [118]:
#find()

In [119]:
#rfind()

In [120]:
#replace()

In [121]:
# strip() rstrip() lstrip()

In [122]:
#split()

In [123]:
#lower()upper()

In [124]:
#ljust() rjust()

## 正则表达式

In [125]:
#regex

In [126]:
# 模式匹配、替换 以及拆分

In [127]:
import re

In [128]:
text='foo    bar\t  baz    \tqux'
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [129]:
regex=re.compile('\s+')
regex
# compile()返回的是一个匹配对象，单独使用没有任何含义 
#可以搭配findall() search() match()使用
#\s 空白字符

re.compile(r'\s+', re.UNICODE)

In [130]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [139]:
regex.findall(text)

['    ', '\t  ', '    \t']

In [160]:
text="""Dave=dave@goolge.com
Steve=steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern=r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex=re.compile(pattern,flags=re.IGNORECASE)
regex.findall(text)

['dave@goolge.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [161]:
m=regex.search(text)
m

In [165]:
text[m.start():m.end()]

'Dave=dave@goolg'

In [166]:
print(regex.match(text))

None

In [163]:
print(regex.sub('REDACTED',text))

Dave=REDACTED
Steve=REDACTED
Rob REDACTED
Ryan REDACTED

In [168]:
pattern=r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex=re.compile(pattern, flags=re.IGNORECASE)
m=regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

In [170]:
regex.findall(text)

[('dave', 'goolge', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [173]:
print(regex.sub(r'Username:\1,Domain:\2,Suffix:\3',text))

Dave=Username:dave,Domain:goolge,Suffix:com
Steve=Username:steve,Domain:gmail,Suffix:com
Rob Username:rob,Domain:gmail,Suffix:com
Ryan Username:ryan,Domain:yahoo,Suffix:com

## pandas的矢量化字符串函数

In [133]:
data={'Dave':'dave@google.com',
     'Steve':'steve@gmail.com',
     'Rob':'rob@gmaile.com',
     'Wes':np.nan}
data=pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob       rob@gmaile.com
Wes                  NaN
dtype: object

In [134]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [135]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [138]:
pattern

NameError: name 'pattern' is not defined